body {
    padding: 0;
    margin: 0;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.align-middle {
    margin-left: 15%;
    margin-right: 15%;
}

.dateInputIcon {
    width: 20px;
    /* İkonun boyutunu ayarlayın */
    height: 20px;
    /* İkonun boyutunu ayarlayın */
}

.table-wrapper {
    overflow-x: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

.table th {
    background-color: #f2f2f2;
}